[2020-04-01 06:24] ashutosh1919 opened #1 "Add Animations to Pinned Projects"
Animation should be Fade up.

[2020-04-23 12:06] ashutosh1919 opened #2 "Setting Up Workflow for the project"
(1) We need to setup a workflow which will trigger whenever any profile information is added or updated (profile image, pull requests, issues, repositories). This workflow should update the information file and should generate the production build.
(2) Another workflow should be setup to push the generated build to **ashutosh1919.github.io** repository.

[2020-04-23 12:29] ashutosh1919 commented on #2
Still not fixed completely.

[2020-04-24 04:29] ashutosh1919 commented on #2
Still not fixed completely.

[2020-05-20 15:48] guilyx opened #5 "Contributions and PR sections"
Hi,

First off I'd like to put out there that I'm an absolute noob at web technologies/development, which should help with how we communicate.

So, I haven't tried building yet ( and I think you should probably add a readme section on how to build the site ), but I am curious about the Contributions and PR sections of the Open Source page. Is there any way to retrieve only the dependencies from th

[2020-05-21 04:17] ashutosh1919 commented on #5
HI @guilyx , Thanks for creating issue.
-  You can run your site locally using `npm install` && `npm start`.
-  I am working on customizing the website. It is 90% customization but I still have to work on 10%.
-  No, You can't embed code in HTML because the website is built on React.

[2020-05-21 10:09] guilyx commented on #5
Hi, thanks for the info.

How did you retrieve the github info in `shared/opensource/*.json` ?

[2020-05-21 13:01] ashutosh1919 commented on #5
I have written scripts to fetch data but did not upload them into this repo because it contains TOKEN and other private info.

[2020-05-21 22:54] guilyx commented on #5
Ok ! Thanks anyways ;)

[2020-05-21 22:54] #5 closed

[2020-06-16 16:10] pratikdaigavane opened #7 "Splash Screen SVG Animation"
Hi,
How should I modify SVG Animation in the splash screen?

[2020-06-17 10:27] ashutosh1919 commented on #7
@pratikdaigavane , Thanks for the issue! Working on to build a tutorial for it since Splash SVG animation is not customizable.

[2020-06-17 11:51] pratikdaigavane commented on #7
@ashutosh1919 Thanks!

[2020-07-12 12:33] viveksonar opened #13 "Card in project is uneven in size"
The project card `Survival_3D_Game` dont match with the other cards in size(shape)

[2020-07-13 09:27] ashutosh1919 commented on #13
@viveksonar , Thanks for pointing out. Feel free to raise PR to resolve this issue.

[2020-07-14 16:50] dawsbot opened #14 "Text overlap on `h1`"
![image](https://user-images.githubusercontent.com/3408480/87453507-93194e00-c5d0-11ea-978e-d55426831cc5.png)

https://ashutosh1919.github.io/#/home

Latest Chrome MacOS

[2020-07-14 17:26] ashutosh1919 commented on #14
@dawsbot, Thank you so much for pointing out the issue. Feel free to raise the PR to resolve the issue or else give the description about the possible reason of the issue so that someone else can work on it 😊

[2020-07-22 01:15] danielmarostica opened #21 "git_data_fetcher.js returns an Error when executed for the second time"
`Error occured in pinned projects 2 {}
{}
{}
{}
`

[2020-07-22 02:52] danielmarostica opened #22 "A few questions"
Hi Ashutosh, thanks for the tutorial! It was the only one friendly enough for beginners.

I've been trying to make it work, but so far had no success.

Should I clone your repository or my fork? Should I make a copy of the folder contents and git init inside a "virgin" one?

What does git_data_fetcher.js do? It does not update package.json, as I had to do it manually.

What is the "generated code"

[2020-07-22 06:09] th3c0d3br34ker commented on #22
Hey @danielmarostica  welcome to the world of JavaScript.
1. You could fork/download as zip the source code, depends on what you want. If you want to use if just once and make a portfolio then I would suggest you to download as zip.
2. The git_data_fetcher just gathers data from your github account and allows you to put that data in your portfolio. If you head on the open source section, you would

[2020-07-22 09:56] pratikdaigavane commented on #7
HI,
Is it okay if you can share your Figma project for the splash screen?

[2020-07-22 11:47] danielmarostica commented on #22
Hey @th3c0d3br34ker, awesome tips, it worked right away! I'd suggest a few changes in the Readme file to make future padawan's lives easier hehe

[2020-07-22 12:50] danielmarostica opened #23 "Fonts and social media icons"
Hi, my [website](https://danielmarostica.github.io/) is not rendering fonts nor social media icons. What do you think could be the cause?

[2020-07-22 16:25] th3c0d3br34ker commented on #23
A probable reason could be conflicting fontawesome files. You could try and remove the font-awesome import from the `index.js` file. It should work as font-awesome css link is mentioned in `index.html` file. Before pushing your changes, you could do `npm run start` and see your website on local host. There is a high chance that you'll find the error there.

[2020-07-22 16:52] danielmarostica commented on #23
On local host, the fonts and social media icons are loaded correctly. However, if I comment `import "./assests/font-awesome/css/all.css";` in `src/index.js,` the fonts are still loaded, but the icons get messed up.

After `npm run build`, I uploaded the [build folder](https://github.com/danielmarostica/danielmarostica.github.io) to the website. That's when fonts and icons stopped working. After th

[2020-07-22 18:12] danielmarostica commented on #23
Here's an output of `npm install`

`npm WARN bootstrap@4.4.1 requires a peer of jquery@1.9.1 - 3 but none is installed. You must install peer dependencies yourself.
npm WARN tsutils@3.17.1 requires a peer of typescript@>=2.8.0 || >= 3.2.0-dev || >= 3.3.0-dev || >= 3.4.0-dev || >= 3.5.0-dev || >= 3.6.0-dev || >= 3.6.0-beta || >= 3.7.0-dev || >= 3.7.0-beta but none is installed. You must install pee

[2020-07-22 22:47] danielmarostica commented on #23
I think [this](https://stackoverflow.com/questions/35718750/adding-custom-fonts-to-github-pages) might help, but I don't know how to apply it to this project.

[2020-07-23 00:12] danielmarostica commented on #22
But I insist on this: even though you change the default branch to gh-pages, github does not allow anything other than master branch for the user page (user.github.io)

https://github.com/fastai/fastpages/issues/119#issuecomment-591025246

[2020-07-23 03:16] ashutosh1919 commented on #22
@danielmarostica , sorry that you faced the issue and Thank you so much @th3c0d3br34ker for giving assisatnce here. I got to know about this issue recently and working on it to resolve.

If you want to contribute to the project doc, feel free to raise PR for README.

Thanks again for raising the issue.

[2020-07-23 03:43] danielmarostica commented on #22
@ashutosh1919 I will do so! I think my experience of building it out of zero experience with js will help.

[2020-07-23 04:00] th3c0d3br34ker commented on #22
Yes, as @danielmarostica pointed out that you can't change the master branch of the this special repository only.

[2020-07-23 04:03] th3c0d3br34ker commented on #23
This output of `npm install` doesn't have anything to worry about.
I you could upload the code on github then it would help to debug your code.

[2020-07-23 04:04] danielmarostica commented on #23
You mean, [this](https://github.com/danielmarostica/danielmarostica.github.io)?

[2020-07-23 04:27] th3c0d3br34ker commented on #23
No, the folder which contains the `src` , `public` and `package.json`.

[2020-07-23 04:32] ashutosh1919 commented on #22
@danielmarostica , If you are rasing PR then keep following things in mind.

(1) If the repository is special, then push the code in branch `develop` and build in master branch. Then enable gh-pages on master.
(2) If the repository is not special, then whatever described right now will work

[2020-07-23 04:32] danielmarostica commented on #23
Sure> https://github.com/danielmarostica/temp_repo

[2020-07-23 04:36] th3c0d3br34ker commented on #23
I meant your copy of the this repo. 😃 Not just these files.

[2020-07-23 04:44] danielmarostica commented on #23
Sorry, now I uploaded everything but the node_modules.

[2020-07-23 04:59] SmritiAgrawal04 opened #24 "Unable to fetch data from GitHub"
I've followed all the steps in order to fetch the data from github-
1) Installed node.js  and npm.
2) Ran npm install after cloning the repo.
3) Issued a Personal Access Token with all the access to it.
4) Replaced the PAT and Github username in git_data_fetcher.js and ran the command- node git_data_fetcher.js.

But still it isn't fetching any of my repositories. Although there is no error popping

[2020-07-23 06:28] ashutosh1919 commented on #24
Closing this one as duplicate of #21 . Please share your thoughts on the original issue #21.

[2020-07-23 06:28] #24 closed

[2020-07-23 16:19] danielmarostica commented on #23
I figured out a workaround.

I changed all the paths inside the chunk.css from `danielmarostica.github.io/static/media/GoogleSans-Bold.4457817a.ttf`... to `../media/GoogleSans-Bold.4457817a.ttf`. [Voilà](https://danielmarostica.github.io/).

I don't know how to compile it correctly, though.

[2020-07-23 18:15] th3c0d3br34ker commented on #23
![image](https://user-images.githubusercontent.com/60807938/88321925-8ec20300-cd3d-11ea-9962-f1e53d023705.png)

I just cloned and ran your repository. It seems to work fine.

[2020-07-23 18:21] danielmarostica commented on #23
Locally, it always did. The problem with fonts shows up when online.

[2020-07-24 03:57] Nuub32User opened #25 "Github pages showing content of README.md instead of website's content 🙁"
![Screenshot_20200724-092502_Brave](https://user-images.githubusercontent.com/47206700/88359250-93afa280-cd8f-11ea-8734-932606acd22a.png)

Here is the repo link - https://github.com/Nuub32User/nuub32user.github.io

Urgent Help Needed 😔 I am beginner

[2020-07-24 03:59] ashutosh1919 commented on #25
You have set gh-pages to master branch and not gh-pages.

[2020-07-24 04:15] Nuub32User commented on #25
How to fix it sar .. 🙁 plz guide me

[2020-07-24 04:17] ashutosh1919 commented on #25
Settings tab of your repository. Go down to Github Pages and select branch as gh-pages. then ru your website and press Ctrl+Shift+R

[2020-07-24 06:23] Nuub32User commented on #25
Finally 😍 fixed .. by that step.. Thanks pro sar

[2020-07-24 06:23] #25 closed

[2020-07-24 16:25] danielmarostica commented on #22
You mention "Please don't use any other names" for the repository name. Why?

Keeping that in mind, is this still valid?
(2) If the repository is not special, then whatever described right now will work

[2020-07-24 21:13] danielmarostica commented on #23
The problem was a missing `https://` in the `package.json` file...
It is solved now.
Thank you @th3c0d3br34ker

[2020-07-24 21:13] #23 closed

[2020-07-25 03:38] ashutosh1919 commented on #22
Yes, I meant that if you are creating special repo, don't use any other name. You can use whatever you want for (2).

[2020-07-26 07:00] ashutosh1919 commented on #21
@danielmarostica , I am not getting that kind of error. Since @danielmarostica , you are active contributor to the repository, can you raise the PR to resolve the issue? Also, please paste any console error logs if you are getting any. :)

[2020-07-26 07:02] ashutosh1919 commented on #7
As of now, We have given option for not to have splash screen if you don't know how to design logo. You can do that just by assigning `false` to `isSplash` in `src/portfolio.js`. Closing this one as part of that.

[2020-07-26 07:02] #7 closed

[2020-07-26 07:02] ashutosh1919 commented on #1
Added in v2.

[2020-07-26 07:02] #1 closed

[2020-07-26 07:02] #2 closed

[2020-07-26 07:03] ashutosh1919 commented on #22
@danielmarostica , Please close this issue if you don't have any more questions.

[2020-07-26 15:23] Ac-Srikanth opened #31 "Not everyone would want to give a nickname , so if nickname is not provided an "()" bracket is being rendered ."
This is not exactly an issue , but can i raise an PR regarding this ?

[2020-07-26 16:01] #22 closed

[2020-07-26 16:34] ashutosh1919 commented on #31
@Ac-Srikanth Feel free to raise PR to resolve this issue. Btw, good observation. This is indeed a problem in my opinion.

[2020-07-26 17:00] danielmarostica commented on #31
Hi @Ac-Srikanth,

Go to /src/containers/greeting/Greeting.js and comment these lines:

[2020-07-26 17:06] danielmarostica opened #32 "Adding the possibility of submenus in header"
Hi,

I would like to add the possibility of including one or more dropdown submenus in header, which will then link other pages. Would you approve this, @ashutosh1919 ?

![image](https://user-images.githubusercontent.com/3595998/88484934-b5a05500-cf48-11ea-98a2-2733c0b90ca8.png)

[2020-07-26 17:19] danielmarostica opened #33 "PNGs/SVGs instead of iconify"
Some icons do not exist at iconify.design (scikit-learn, for example).

It would be great if it was possible to insert other images instead, in these sections:

![image](https://user-images.githubusercontent.com/3595998/88485202-812d9880-cf4a-11ea-98b5-ae555343ad8a.png)

[2020-07-26 19:14] mrjatinchauhan opened #35 "Correct position of University logo which is upside down"
Correct position of **University logo** which is **upside down** in **Education section** of Header

Existing Element
[code]

Element replacing for **Correct position of Degrees Received Icon**
[code]

You'll notice that _CSS style_ `transform` changed to to `scale(0.5)` which displays university logo (iiitk_logo.c350d799.png) in correct position instead of upside down.

[2020-07-27 03:35] th3c0d3br34ker commented on #35
Hey @mrjatinchauhan it seems that I can replicate the issue. Could you please add a screen shot?

[2020-07-27 03:56] ashutosh1919 commented on #35
@mrjatinchauhan , Please raise Pull request to do so.

[2020-07-27 06:56] Sagyam commented on #21
@danielmarostica  I was getting this exact error turns out I has a typo in my username.
BTW did you find a way to add custom icons? It seems like ther's no way around fontAwesome icons?

[2020-07-27 11:00] mrjatinchauhan commented on #35
Before that I'm making a Pull request(#36) to fix a patch for low, medium and high vulnerabilities

[2020-07-27 14:54] danielmarostica commented on #21
https://github.com/iconify/iconify/issues/32

[2020-07-30 15:04] sayantanjana opened #37 "Add image to homepage which adapts to current theme"
How do I add my svg image in any of the page which can adapt it's color according to the current theme?

[2020-07-31 04:33] ashutosh1919 commented on #37
You can't as of now. Because there is no automated system yet which will do the same. If you want to implement it the feel free to raise PR.

[2020-07-31 11:18] sayantanjana commented on #37
ohh...okay

[2020-07-31 11:44] ashutosh1919 opened #40 "Org Logo"
New Logos
![masterportfolio-banner-light](https://user-images.githubusercontent.com/20843596/89031990-431ce400-d351-11ea-8e93-ae57a6f5b8d6.png)

[2020-08-01 17:46] mrjatinchauhan commented on #35
Fixes university logo position with new PR. #36

[2020-08-02 09:37] remy commented on #40
Ripped off straight from Prettier.

<img width="1287" alt="Screenshot 2020-08-02 at 10 36 02" src="https://user-images.githubusercontent.com/13700/89120177-10d3c980-d4ac-11ea-8bdf-dc842fea1ba7.png">

[2020-08-02 11:34] ashutosh1919 commented on #40
Yes @remy , already mentioned credit to the project and the designer. Please guide me. I thought since it is opensource, we can use it with proper credits

[2020-08-03 14:51] #35 closed

[2020-08-04 13:06] dineshnadimpalli opened #52 "While adding new social media icons apart from the current ones hover effect is missing"

[2020-08-04 14:15] th3c0d3br34ker commented on #52
Suggested methods:
1. use of styled components
2. predefining icons and rendering if user has given the data.

[2020-08-04 14:25] dineshnadimpalli commented on #52
Hi, @th3c0d3br34ker can you open another issue and raise a PR if you have any suggested solution for the 2nd point you mentioned. I believe that was not the scope of this issue.

[2020-08-04 14:29] th3c0d3br34ker commented on #52
@dineshnadimpalli  your PR solves the problem 🐞 . 😄 I don't think it requires another PR.

[2020-08-04 14:31] dineshnadimpalli commented on #52
Cool @th3c0d3br34ker 😁

[2020-08-04 15:55] gopinath2018 opened #54 "Github Page issue"
https://github.com/gopinath2018/gopinath2018.github.io

I done everything a s mentioned in masterportfolio. At the end im interested to upload on github pages. i created a repo and uploaded. But not able to create a website. Anyone try to solve this issue.

Where im making mistake?

[2020-08-04 15:58] th3c0d3br34ker commented on #52
why fix something which is not broken?

[2020-08-04 15:59] th3c0d3br34ker commented on #54
did you run `npm run build` ?

[2020-08-04 16:29] dineshnadimpalli commented on #52
As suggested here https://github.com/ashutosh1919/masterPortfolio/pull/38#issuecomment-668558546 and the discussion that went through after that. Thought, it would be better to improve the code to reduce the inconsistency and raised this issue.

[2020-08-04 17:23] th3c0d3br34ker commented on #52
I was talking about raising a new PR @dineshnadimpalli

[2020-08-04 17:40] dineshnadimpalli commented on #52
Oops!😅 misunderstood. Yeah, regarding the PR, as the old one was already merged thought of adding a new one. Will continue on the same from next time. Thanks for the suggestion @th3c0d3br34ker 👍😄

[2020-08-05 04:25] ashutosh1919 opened #55 "Creation of ReadMe Doc to completely explain how to modify portfolio.js"
In our current doc, we just mentioned that user needs to modify portfolio.js but we didn't explain each of the components seperately.

It is good that we create seperate readme file named `CUSTOMISE_PORTFOLIO.md` and add every instruction to customize every block in portfolio.js

[2020-08-05 04:41] gopinath2018 commented on #54
Yes, It showing errors. can you try for my lot of errors

Creating an optimized production build...
Failed to compile.

.\src\index.js
Cannot find module: 'styletron-engine-atomic'. Make sure this package is installed.

You can install this package by running: npm install styletron-engine-atomic.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! masterPortfolio@0.1.0 build: `react-scripts build`

[2020-08-05 04:45] ashutosh1919 opened #56 "Adding Theme containing gradient to every type of color"
Currently, we have themes which have single colors associated to each component which looks pretty old fashioned.
Also, the main bluetheme which website has currently is not that much appealing. We should add themes which have gradient colors to it.

If anyone is raising PR, please use [webgradients](https://webgradients.com/) if you want to take idea of gradients. also choose colors considering t

[2020-08-05 06:48] ashutosh1919 opened #57 "Need modifications in Experience tab cards"
I like below cards more than the existing design. It is @dineshnadimpalli's implementation. Good work.

@dineshnadimpalli, can you raise PR to add this to masterPortfolio.

<img width="587" alt="Screenshot 2020-08-05 at 12 13 16 PM" src="https://user-images.githubusercontent.com/20843596/89380791-c35a9500-d715-11ea-9838-48d4253807ea.png">

[2020-08-05 06:49] ashutosh1919 opened #58 "Need modification in experience cards."
I like below cards more than the existing design. It is @dineshnadimpalli's implementation. Good work.

@dineshnadimpalli, can you raise PR to add this to masterPortfolio.

<img width="587" alt="Screenshot 2020-08-05 at 12 13 16 PM" src="https://user-images.githubusercontent.com/20843596/89380791-c35a9500-d715-11ea-9838-48d4253807ea.png">

[2020-08-05 06:51] ashutosh1919 commented on #58
@dineshnadimpalli, we need to change this thing that we need to make width 100% in this

[2020-08-05 06:52] #57 closed

[2020-08-05 06:55] ashutosh1919 commented on #56
@danielmarostica , Please provide your views on this.

[2020-08-05 07:16] dineshnadimpalli commented on #58
Thanks @ashutosh1919 . Sure, will try something with 100% width and will also try adding the description part to this one.

[2020-08-05 08:48] th3c0d3br34ker commented on #54
Delete the <-username->.github.io repository on Github, then run `npm run build`. Next upload all the contents of the `build` folder to <-username->.github.io.

[2020-08-05 14:35] th3c0d3br34ker commented on #56
Also, a dark theme on the lines if [this](https://th3c0d3br34ker.github.io)

[2020-08-05 14:41] gopinath2018 commented on #54
Yes, I tried. and uploaded on github.

it showing 404 file not found @th3c0d3br34ker

[2020-08-05 15:15] ashutosh1919 commented on #56
@th3c0d3br34ker , i don’t recommend dark theme because many of the images and illustrations will not look good in dark theme. Already checked it.

[2020-08-05 16:00] danielmarostica commented on #56
Do you have good examples of gradient-based designs? Current svgs are discrete color, won't this act like a bottleneck?

Another ideia is that we could use trendy color palettes instead https://colorhunt.co/palettes/trendy

[2020-08-06 03:43] gopinath2018 commented on #54
My website is deployed on the website. But only when i click view deployment it is working. when i type the website it is not working.

www.gopinath2018.github.io is not working

when i click the view deployment button

it directs to

www.gopinath2018.github,io/#/

how to remove this #? @th3c0d3br34ker

[2020-08-06 05:41] th3c0d3br34ker commented on #54
1. There is no `www` in the address.
2. The `#` will remain there as that is how it is.

You can simply give `gopinath2018.github.io` as you portfolio website address and it should work fine. 😄

[2020-08-06 07:06] gopinath2018 commented on #54
Not working 404 error is coming

[2020-08-06 10:55] th3c0d3br34ker commented on #54
When I open [this](https://gopinath2018.github.io) I can see your portfolio site.

Please, describe your issue more, so that I can help you out.

[2020-08-06 11:16] ashutosh1919 commented on #56
No I don't mean to have more color pallets. What I mean is that instead of having only one color for background and stuff we should have gradients. It will add more elegancy to the look.

[2020-08-06 11:32] ashutosh1919 commented on #55
@danielmarostica , since you have successfully customised website and you may have idea about what problem you faced while customising. So, do you want to work on it?

[2020-08-06 12:07] danielmarostica commented on #55
Of course!

[2020-08-06 12:23] gopinath2018 commented on #54
Yes, Thanks I again deployed. It's working

[2020-08-06 12:23] #54 closed

[2020-08-06 15:08] #52 closed

[2020-08-09 01:42] Tanya-Goel opened #63 "NavBar is not visible when phone is in dark mode"
@ashutosh1919 @danielmarostica

When phone is in dark mode,navbar is not visible at home page.
Please find the screenshot ![here](https://user-images.githubusercontent.com/41191504/89723097-79242d00-da0f-11ea-8ae2-c81436adc85b.jpg)
OR
https://prnt.sc/twglgl

[2020-08-09 02:33] danielmarostica commented on #63
I think this is indeed an issue, as dark theme is growing on people as an option. Meanwhile you might fix this for yourself by playing with the navicon parameters at `Header.css` (in case you are asking for help, not just reporting an issue).

I'm new at this, so maybe @th3c0d3br34ker will easily find a fix for the problem.

[2020-08-09 03:36] ashutosh1919 commented on #63
@Tanya-Goel , thanks for raising the issue on this. This is indeed a problem and need to be fixed as soon as possible.

[2020-08-09 03:55] ashutosh1919 opened #64 "Need to add new social media"
Now, we can add YouTube to the social media list. People who won't need that will remove that from list.

My Channel: https://www.youtube.com/channel/UC_amoXmmxSY9KusoDczDTXQ

[2020-08-09 06:39] th3c0d3br34ker commented on #63
@ashutosh1919  assign me. I'll raise a PR soon.

[2020-08-09 06:41] th3c0d3br34ker commented on #64
Do you need a PR? @ashutosh1919

[2020-08-10 07:04] ashutosh1919 commented on #14
@dawsbot , please look at this URL: https://deploy-preview-65--ashutosh1919portfolio.netlify.app/ . This is deploy preview for #65 . If issue is still not resolved, please share screenshot on #65 .

[2020-08-11 14:36] #14 closed

[2020-08-12 04:37] Tanya-Goel opened #67 "Adding Memories(Photo gallery) Section in Header"
In this section,one would be able to include his/her most cherishable moments in the form of pictures or any winning moment photos that can be considered as a part of his/her achievement.

[2020-08-12 06:28] th3c0d3br34ker commented on #67
It seems like a good addition to me. @ashutosh1919  @danielmarostica  thoughts?

[2020-08-12 06:44] ashutosh1919 commented on #67
@th3c0d3br34ker , yes @Tanya-Goel had discussion with me. Thanks for issue @Tanya-Goel . Also, she is working on PR.

[2020-08-12 07:37] th3c0d3br34ker opened #68 "Add a gender option"
Add an option for Male/Female where the illustrations would come up accordingly.

Saw [Tanya Goel's](https://tanya-goel.github.io/myMasterPortfolio/) Porfolio and realized that there is no such option.

[2020-08-12 08:40] Tanya-Goel commented on #68
Yeah,it seems a good option.Otherwise one has to change front picture at the home page of portfolio.

[2020-08-12 12:30] ashutosh1919 commented on #68
Also, we need to add flexibility to remove tabs.

[2020-08-12 15:00] danielmarostica commented on #67
I particularly support this idea because I created something like this myself, however pretty makeshift: https://danielmarostica.github.io/#/photography

[2020-08-14 06:26] ashutosh1919 commented on #64
Added by [this commit](https://github.com/ashutosh1919/masterPortfolio/commit/a334482c96abc0dd99b1b234cf315965d227ef36)

[2020-08-14 06:26] #64 closed

[2020-08-21 11:36] advian123 opened #72 "Remove a component"
I am pretty much new to open-source, so I don't want to include the section opensource. How can I remove it??

[2020-08-25 06:04] advian123 commented on #72
Sorry but it didn't work

[2020-08-25 06:27] th3c0d3br34ker commented on #72
Remove the whole
[code]

[2020-08-25 06:37] advian123 commented on #72
Also tried that, but now it's only showing OpenSource in the header section, but I click it, there is no content in it.
I just want to simply remove the opensource from the website.

[2020-08-25 07:18] th3c0d3br34ker commented on #72
What i suggested will remove it completely.
Can you please push the code to GitHub and share the repository link here? So that's its easier to understand.

[2020-08-28 13:26] guilyx opened #73 "Just a heads up"
Hey,
As said on Linkedin, I felt free to add your project here : https://github.com/guilyx/awesome-github-pages-portfolios
It's just a heads up, if you want to remove it/don't want it featured there, do tell.

[2020-08-28 14:05] ashutosh1919 commented on #73
@guilyx , Thanks for adding the project. I don't have any problem. Thanks once again.

[2020-08-28 14:05] #73 closed

[2020-09-05 08:37] VNDhanush opened #74 "In education component the logo of your college is wrong please take a look into it and update."
@ashutosh1919

[2020-09-05 09:28] ashutosh1919 commented on #74
Please post screen shot. What do you mean by wrong?

[2020-09-05 09:33] VNDhanush commented on #74
![Ashutosh](https://user-images.githubusercontent.com/43043075/92302318-eed8d580-ef88-11ea-8599-900250593ceb.JPG)
the college logo is in reverse

[2020-09-05 09:35] VNDhanush commented on #74
And in home page in full stack development skills their is a spelling mistake [resposive]---->[responsive].Take a look into that too .

[2020-09-05 09:35] ashutosh1919 commented on #74
Feel free to contribute based on the browser you have. In mine, it's looking normal (not reversed)

[2020-09-05 09:36] VNDhanush commented on #74
oh cool sorry regarding raising an issue then.

[2020-09-05 09:43] ashutosh1919 commented on #74
Opening it because there may be problems in some browsers and we need to resolve them. @VNDhanush , if you know the solution then feel free to raise the pull request.

[2020-09-06 09:36] VNDhanush commented on #74
between I have cloned your repo and changed it as per my requirements. To deploy it in firebase I need to create firebase.js and then do the firebase commands that is it. Is that correct??

[2020-09-06 10:36] ashutosh1919 commented on #74
Firebase is not at all used in the project

[2020-09-06 11:43] VNDhanush commented on #74
Yaa iknow but can i use it?

[2020-09-06 21:23] VNDhanush opened #76 "I use gitkraken to push my code into github. So I was trying to do the same with the masterportfolio and when i opened i could see your commits and push and pulls so when i push will it change in your repository or only it will push the code into mine, without any changes to your code and the changes which I did."

[2020-09-07 03:57] ashutosh1919 commented on #76
It will change in your fork of this repo.

[2020-09-07 03:57] #76 closed

[2020-09-15 02:42] warcheat-mwam opened #78 "How to Instal in Hosting/Cpanel?"

[2020-09-17 13:31] Tasin5541 opened #79 "Adding skill set with progress bar"
It would be a nice feature to have if we could set our skills and show our proficiency level like the attached image.

![image](https://user-images.githubusercontent.com/42533823/93477094-63622b80-f91c-11ea-81ea-cfffe54b6dc3.png)

[2020-09-17 13:56] ashutosh1919 commented on #79
@Tasin5541 , if you want to contribute, feel free to raise PR and comment yes if you are working on it. I will assign it to you.

[2020-09-17 17:23] Tasin5541 commented on #79
I am new to react framework. So far I've manged to add a proficiency section from another repository in the homepage like shown below. I would like to keep working on it and make it a separate page with multiple skills option.

![IMG_20200917_232115](https://user-images.githubusercontent.com/42533823/93505391-9d432a00-f93c-11ea-99b0-226991b099e2.jpg)

[2020-09-17 19:01] th3c0d3br34ker commented on #79
Great Progress @Tasin5541. If you get stuck anywhere, you can always message here or reach out to me on linkedin.

[2020-09-18 02:26] Tasin5541 commented on #79
Thanks for the encouragement @th3c0d3br34ker , I'll probably have to reach out soon since this is my first time working with react

[2020-09-18 05:14] saeidshirazi opened #80 "Add Publication Component"
hi   dear ashutosh,
tnx for great Project
cant you add Publication Component that I can Add my paper into it,
its really help me if you have time to do it because im not knowing react

[2020-09-18 05:28] Tasin5541 opened #81 "Github token vulnerability in github_data_fetcher.js"
Current way of fetching github data using `github_data_fetcher.js` exposes the token. This can be fixed using `.env` file (Adding the actual token here and then calling it in `github_data_fetcher.js`) and adding it to `.gitignore`.

I have already done this. Can I contribute to this repo?

[2020-09-18 07:46] Tasin5541 commented on #81
I raised a PR flag

[2020-09-18 12:33] ashutosh1919 commented on #81
@Tasin5541 , till the PR is open. Let this issue stay open

[2020-09-20 17:33] Tasin5541 opened #83 "Letters like 'g' 'j' 'p' are getting cropped in half in the project card"
![image](https://user-images.githubusercontent.com/42533823/93717732-8d745180-fb99-11ea-9536-03c0d33b3472.png)

[2020-09-21 03:23] ashutosh1919 commented on #83
@Tasin5541 , feel free to work on it. IMO, the fix would be to increase the line-height slightly. But above picture, I don't see anywhere the text is being cut like you mentioned. Can you please point it out?

[2020-09-21 03:34] Tasin5541 commented on #83
The orange circled portions

![IMG_20200921_093217](https://user-images.githubusercontent.com/42533823/93731099-621b5200-fbed-11ea-8b41-a406b8883d09.png)

[2020-09-21 05:08] ashutosh1919 commented on #83
@Tasin5541 , yeah thanks for noticing and raising the issue. I think increasing the value of line-height would solve the issue.

[2020-09-21 05:17] Tasin5541 commented on #83
I'll try increasing the height and decreasing the margin by same amount, so that the gap doesn't increase

[2020-09-24 13:58] #83 closed

[2020-10-12 13:34] dhananjayjakhadi opened #87 "getting error while npm run deploy"
![image](https://user-images.githubusercontent.com/31828887/95752463-0bde8380-0c6e-11eb-86a0-e87320c1e7cd.png)

[2020-10-12 14:36] ashutosh1919 commented on #87
@dhananjayjakhadi , you are pushing to my repository and not your own. You need to change remote origin.
`git remote add origin <YOUR_GITHUB_REPO_LINK>`
and then build and deploy it again.

[2020-10-12 14:42] dhananjayjakhadi commented on #87
![image](https://user-images.githubusercontent.com/31828887/95759361-98417400-0c77-11eb-8c4f-15e071b26e09.png)
 My remote origin already exists

[2020-10-12 15:13] ashutosh1919 commented on #87
`git remote rm origin` to remove the origin
`git remote add origin <YOUR_GITHUB_REPO_LINK>`

[2020-11-09 20:38] Fatiepie opened #88 "Tab has PNG of your animated logo"
So I wanted to put a GIF of my logo instead of your animated logo, could you help me in doing so?

[2020-11-10 04:29] ashutosh1919 commented on #88
Sure @Fatiepie , Instead of putting your GIF in `<img />`. Put it inside `object` or `svg` and define height and width.

[2020-11-15 19:53] Fatiepie commented on #88
Sounds perfect! Thanks!

[2020-11-15 19:53] #88 closed

[2020-11-20 08:31] DevangSharma opened #89 "Add achievements section"

[2020-11-20 14:55] ashutosh1919 commented on #89
@DevangSharma , I will suggest instead of creating whole section page on Achievements, let's create sub section in home page. Feel free to create PR.

[2020-12-13 15:33] a-mishra opened #90 "Typo || Experience->Volunteerships->GithubDeveloperProgram"
## Update requires following fix:
 - peoper->proper

[2020-12-14 04:31] #90 closed

[2021-01-06 05:12] rahulrachh commented on #72
The solution given by @th3c0d3br34ker worked for me. I removed the OpenSource and Contact section this way by removing that piece of code from header.js. See my code at [link](https://github.com/rahulrachh/my-github-portfolio/blob/d6d244800df8e73e6f6f11cbc8e47758664fef0a/src/components/header/Header.js#L86)

[2021-01-06 05:21] rahulrachh opened #104 "Change the font in header section"
I would like to change the font with which my name appears in the top right corner in the header section. I searched in the project but couldn't find it. Please can anybody help me here. Saw that [@th3c0d3br34ker](https://th3c0d3br34ker.github.io/) has changed the font and would like to do that.

[2021-01-06 05:54] rahulrachh commented on #31
@Ac-Srikanth, for now, you can go to ``src\containers\greeting\greetings.js`` and comment lines 20 to 22. This would do to hide the brackets.

[2021-01-06 06:25] ashutosh1919 commented on #104
The font of the header logo is Agustina Regular it is imported in `index.css`. you can import your own font there and you can use it wherever you want.

[2021-01-06 09:49] tamojit-123 commented on #31
@ashutosh1919  @rahulrachh in replace of the nickname an waving emoji can be given by importing it in portfolio.js.

[2021-01-06 22:19] rasam-hossain commented on #31
This is a good suggestion too.

[2021-01-06 23:43] rahulrachh commented on #104
Thanks, Ashutosh.

[2021-01-06 23:43] #104 closed

[2021-01-07 04:24] ashutosh1919 commented on #31
@tamojit-123 feel free to raise a PR to fix this as you described. I liked an idea.

[2021-01-08 15:50] tamojit-123 commented on #31
@ashutosh1919 I did a PR regarding this issue.
please have a look
**URL**: [https://github.com/ashutosh1919/masterPortfolio/pull/105#issue-551803932](url)

[2021-01-11 16:51] bitoffabyte opened #106 "Horizontal Scrollbar"
When the animations happen the horizontal scroll bar appears and then disappears.
Could try hiding it.
Also, love this portfolio template 😍

[2021-01-12 04:30] ashutosh1919 commented on #106
@bitoffabyte , feel free to raise PR if you have solution.

[2021-01-25 15:40] Param-29 opened #107 "Dividing "Contact Page" into segments smiliar to Experience Page"
The contact page is pretty rigid and we cannot remove parts of the contact page.
Example:
Blogging: For someone like me, I am not much into blogging and hence don't want to add that section. But the current version doesn't allow me to remove a section from the contacts page.

Btw great website and design.

PS: Sorry I am not a web developer so cannot take up the issue. Please feel free to work on

[2021-02-15 16:35] Seifo-Ibrahim opened #111 "Portfolio images not working"
After clone repository Portfolio images not working

[2021-03-12 10:09] ashutosh1919 commented on #106
Fixed as part of #116

[2021-03-12 10:10] #106 closed

[2021-03-21 19:39] prabalgupta12 opened #119 "git_data_fetcher"
git fetcher not updating on merge

[2021-03-22 04:29] ashutosh1919 commented on #119
@prabalgupta12 , please write detailed issue description and possibly provide an example so that the person who wants to work on this issue can understand.

[2021-03-26 13:42] #119 closed

[2021-05-12 20:45] ifsheldon opened #121 "How to set Experience card as expanded by default?"
Hi! I like this repo very much and thank you all.
One question I have is how I can set the cards in Experience expanded as a default. I am completely new to React, but I have searched a bit. It seems cards are wrapped in`Panel`s that are wrapped in an `Accordion`. For instance, in your live example, what can I do such that the work experiences are expanded by default?

So, it seems I should change

[2021-05-12 20:50] ifsheldon opened #122 "How can I added more pages?"
I am completely new to React, but when I tried to modify your code, I kinda understand the architecture. But, what places I need to add more code in order to add a new page? say, I'd like to have a page "Interest" that details my hobbies etc.

[2021-05-12 20:54] ifsheldon opened #123 "How to generate different sizes of icons fast?"
I see in `public/`, there are many icons and pictures of different sizes, but how can I generate these quickly? Is there any tools  doing this? Like, I give it a picture and it will generate downsized icons for me

[2021-05-13 04:12] ashutosh1919 commented on #121
@ifsheldon , the Accordian is taken from [baseweb](https://baseweb.design/components/accordion/) by uber. you can check their website for more features. feel free to contribute here as well by raising PR

[2021-05-13 04:15] ashutosh1919 commented on #123
@ifsheldon there are many online websites available to do so. We have also extracted favicon from one of those websites.

[2021-05-14 19:04] ifsheldon commented on #121
yeah...... I actually found the link you mentioned before writing this issue, but not found anything useful to address this problem

[2021-05-22 18:02] jatinS-dev commented on #123
https://www.favicon-generator.org/  use this website to generate Fav Icons

[2021-05-25 14:33] sahilg50 commented on #122
![image](https://user-images.githubusercontent.com/56653026/119515294-5e028e00-bd93-11eb-81e1-02fc23d1fc95.png)

As you can see that in the **main.js** there are different routes for different pages of the website, there you can add a route for your page too. You can continue to work on your page. Now the last step is to show the page name on the header.

![image](https://user-images.githubusercon

[2021-06-14 01:59] Tasin5541 commented on #79
I have long since made it into a new component and added it in a different page of it's own. You can add them in the same page if you like.

[2021-06-14 02:16] gabrieloliveirasobrinho commented on #79
@Tasin5541  I just saw your portfolio and you've done a great job. Lemme ask you a silly thing, do you know how I can decrease the space between the greeting sections and the "skills"(What I do?) section? thanks dude

[2021-06-14 02:23] Tasin5541 commented on #79
@gabrieloliveirasobrinho you'd need to decrease the margin. If you can show me the relevant code (css and js), I can help you with it if you want.

[2021-06-14 02:25] gabrieloliveirasobrinho commented on #122
I want this page to be exactly like contact page, how can I do it?

[2021-06-14 02:27] gabrieloliveirasobrinho commented on #79
@Tasin5541  I guess I'll leave it that way. This margin you mentioned, in which file is that, do you remember? Also, I saw on your portfolio you've created a new page. I also created one, but It's empty, do you know can I can copy the contact page and use it as my new page?

[2021-06-14 02:40] Tasin5541 commented on #79
@gabrieloliveirasobrinho do you want to copy the whole contact me page or a part of it?

[2021-06-14 02:42] gabrieloliveirasobrinho commented on #79
@Tasin5541 the whole contact me page lol

[2021-06-14 02:47] Tasin5541 commented on #79
In that case why not just change the contact me page's name to whatever you named the new page?

[2021-06-14 02:49] gabrieloliveirasobrinho commented on #79
@Tasin5541 bc I just want the contact me page's layout to my new page :(  T_T will that be too hard?

[2021-06-14 02:56] Tasin5541 commented on #79
@gabrieloliveirasobrinho copy [this](https://github.com/ashutosh1919/masterPortfolio/blob/master/src/containers/contact/Contact.js) files contents to your new page

[2021-06-14 03:05] gabrieloliveirasobrinho commented on #79
@Tasin5541  thanks buddy!!!

[2021-06-24 13:01] vanoop729 opened #124 "There is a horizontal scroll in "open-source" page in mobile view. Its due to the PullRequest and IssueRequest pie chart CSS. Fix it!"
Look into the CSS part of IssueRequest and PullRequest

[2021-06-24 13:03] vanoop729 commented on #124
Can I open a Pull Request for the same, @ashutosh1919 ?

[2021-06-24 13:03] ashutosh1919 commented on #124
@vanoop729 , If you want to contribute, Please feel free to raise PR

[2021-06-24 13:03] vanoop729 commented on #124
Will do!

[2021-07-12 15:47] Vaibhav2002 opened #130 "Getting error when deploying website to github pages"
## Error
[code]

remote is set correctly in git .

## Check my repo here
https://github.com/Vaibhav2002/Vaibhav2002.github.io

[2021-07-12 16:01] #130 closed

[2021-07-16 14:57] AnirudhPanda opened #133 "Centre Text `h1` tags under 'What I Do?' section ( Image Attached )"
![Capture](https://user-images.githubusercontent.com/66218496/125967493-5d1b1f07-42d9-4a3b-adb4-079421440e0b.PNG)

I can work on this!

[2021-07-17 15:17] ashutosh1919 commented on #133
IMO, there is a reason why I didn't center it. Both elements (Header and icons) looks disconnected if not aligned. If you really want to contribute on something, I would really suggest you to improve mobile responsiveness of CSS is the one that you can contribute. Some of the components break on mobile screens.

[2021-07-17 15:21] AnirudhPanda commented on #133
Ah I see. Understood. Will do!

[2021-07-17 17:53] #133 closed

[2021-07-17 17:56] AnirudhPanda opened #134 "[ Console ] There a lot of logs in the console due to all the console.log inside. Is it left intentionally or shall I remove those"
![issues](https://user-images.githubusercontent.com/66218496/126045831-3fa8c084-e24e-49b5-abfe-cd889bacec4c.PNG)

[2021-07-18 02:24] ashutosh1919 commented on #134
@AnirudhPanda You can raise PR to remove them.

[2021-07-18 05:50] AnirudhPanda commented on #134
Hey bhaiya,
After I did npm install it looks like it modified the package.lock.json file and now it is showing a huge number of insertions and deletions, should I add that file in gitignore?
A little guidance would help

[2021-07-18 09:50] ashutosh1919 commented on #134
Yes you can add it.

[2021-07-29 16:50] dhruvkrishnavaid commented on #107
A quick fix for your problem is to remove the line no. 7 (that BlogsImg import), and line no. 58 to 87 (totally remove the 2nd Fade component). 😅😆

[2021-07-29 17:20] vanoop729 commented on #124
This is how I customized it: [https://anoopv.me/](https://anoopv.me/)

[2021-07-31 03:27] dhruvkrishnavaid commented on #111
It works perfectly fine for me. Please list all the steps you have done...

[2021-08-23 11:13] Rammina opened #139 "[BUG] School logo is upside down in the Education Section"
![upsidedown](https://user-images.githubusercontent.com/49326578/130438318-8ec5749d-8ddb-43f8-a385-6152c4804401.png)

[2021-08-23 11:14] ashutosh1919 commented on #139
@Rammina , yes this bug is a headache and is not fixed even after 2-3 PRs. Feel free to raise PR to resolve this.

[2021-08-23 12:13] Rammina commented on #139
@ashutosh1919, the bug only shows up on the deployed version (live example) but downloading it and running it on the local machine, the logo is upright and is displayed correctly.

[2021-08-25 04:11] shreyshreyansh opened #140 "all git repo card size should be same"
![Screenshot 2021-08-25 092805](https://user-images.githubusercontent.com/53744971/130725298-c16bf98f-e04a-400a-978a-3d915f86c332.png)

[2021-08-25 07:05] priyanshk20 commented on #80
Can I take up this task? @ashutosh1919

[2021-08-25 11:00] ashutosh1919 commented on #80
@priyanshk20 , Yes you can take it up. Thanks for volunteering. Add the publication below github projects in Projects page. Don't add new page. That will be bad UX IMO.

[2021-08-27 14:32] nguye3hg opened #143 "I have some issues when trying to run npm start, can anyone help me with this"
**This is the error when I run npm start on git bash**

Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
    at onErrorNT (internal/child_process.js:467:16)
    at processTicksAndRejections (internal/process/task_queues.js:82:21)
Emitted 'error' event on ChildProcess instance at:
    at Process.ChildProcess._handle.onexit (internal/child_process

[2021-08-28 01:44] nguye3hg commented on #143
Yes i have already run that

[2021-08-28 02:32] ashutosh1919 commented on #143
@nguye3hg , can you print out the error log here. I mean content of file `C:\Users\hoang\AppData\Roaming\npm-cache_logs\2021-08-27T14_26_57_477Z-debug.log`

[2021-08-28 02:37] nguye3hg commented on #143
How can I print out that can you help me with that too?

[2021-08-28 02:39] nguye3hg commented on #143
**This is all my code on git bash I will leave it here**
hoang@DESKTOP-EL5GVQ1 MINGW64 ~/OneDrive/Desktop/masterPortfolio (master)
$ npm start

Starting the development server...

events.js:377
      throw er; // Unhandled 'error' event
      ^

Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
    at onErrorNT (internal/child_process.js:467:16)

[2021-08-28 15:43] nguye3hg commented on #143
**@ashutosh1919 I have try to put the link in my folder and this is the result**
1 verbose cli   'start'
1 verbose cli ]
2 info using npm@6.14.14
3 info using node@v14.17.5
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle masterPortfolio@0.1.0~prestart: masterPortfolio@0.1.0
6 info lifecycle masterPortfolio@0.1.0~start: masterPortfolio@0.1.0
7 verbose lifecycle masterPort

[2021-08-28 17:21] nguye3hg commented on #143
I have fixed all the vulnerabilities and updated all the packages and now it seems to work.

[2021-08-28 17:21] #143 closed

[2021-09-08 08:30] theprogrammingking opened #146 "how to add the preloader which you did"
pls tell me the code

[2021-09-08 11:46] ashutosh1919 commented on #146
@theprogrammingking , The code is made opensource [here](https://github.com/ashutosh1919/masterPortfolio/tree/master/src/components/Loader) and I created detailed video on how to create these types of loaders [here](https://www.youtube.com/watch?v=SVxuydoSFwk)

[2021-09-08 11:46] #146 closed

[2021-09-15 11:18] NoorMohamed-intern opened #150 "Page title problem"
The page title is referring to Ashutosh Original title for Few Seconds. Then its updated.
Its same for both Mobile and Desktop version.
Does anyone have this problem?
I hosted my site on netlify.

![title-Fav](https://user-images.githubusercontent.com/84630437/133423445-4292e16e-23b4-4bc0-862c-94da20dbc43f.jpeg)

[2021-09-15 13:25] abdslam01 commented on #150
check file `public/index.html`, you will find ` <title>Ashutosh's Portfolio</title>`. you can change it!
I hope that helps.

[2021-09-15 13:27] ashutosh1919 commented on #150
@NoorMohamed-intern , Please close the issue if above solution works else inform.

[2021-09-15 13:50] NoorMohamed-intern commented on #150
**Yes**,it worked.Thank you @abdslam01 .

[2021-09-18 12:38] suyesha07 commented on #21
Im getting the exact error how to solve this ??

[2021-09-18 14:52] ashutosh1919 commented on #21
@danielmarostica or @Sagyam , Can one of you help @suyesha07 ?

@suyesha07 , You can post a screenshot of the error or you can paste the entire error stack here.

[2021-09-22 16:08] Itz-Hyperz opened #152 "Node GYP Error"
![image](https://user-images.githubusercontent.com/69090660/134380866-60c25f81-1ec3-4982-bca9-cd1a9675a677.png)

Currently on NodeJS V16

[2021-09-22 17:18] ashutosh1919 commented on #152
@Itz-Hyperz , The issue is not with code but with installation. You don't have Python installed on your system it seems. Please close issue once it is resolved.

[2021-10-04 19:03] NirmalSilwal opened #153 "TypeError: react__WEBPACK_IMPORTED_MODULE_0__.createContext is not a function"
Can someone help me resolve this issue?

Error name: **TypeError: react__WEBPACK_IMPORTED_MODULE_0__.createContext is not a function**

Attaching part of screenshot of the issue after running
[code]

![Capture](https://user-images.githubusercontent.com/31946761/135908991-25c6cd28-4296-4f8c-8f85-ef1927e000c3.PNG)

[2021-10-04 20:52] ashutosh1919 commented on #153
@NirmalSilwal , Have you installed all dependencies using `npm install`?

[2021-10-05 06:18] NirmalSilwal commented on #153
Initially all the dependencies were not installed properly using ```npm install```

I was getting many warnings. Later  I used **[this package manager](https://github.com/raineorshine/npm-check-updates)** and now it works.

Thanks

[2021-10-05 06:18] #153 closed

[2021-10-05 21:42] NirmalSilwal commented on #21
I am getting similar isssue while trying to fetch my github profile info to the portfolio using ```node git_data_fetcher.js```

I followed the given steps - generated new token with all permissions and added that token as suggested along with my username. But I am getting this exception message. Can someone help on this?

Tagging @ashutosh1919  @danielmarostica @Sagyam

Attaching screenshot of the

[2021-10-06 11:47] ashutosh1919 commented on #21
@NirmalSilwal , I think you do not have support for JS other than ES6. The `git_data_fetcher` doesn't use ES6 so that may be the problem.

[2021-10-06 14:19] catherinewongg opened #154 "Faced console warnings on 'Autoprefixer is no longer needed for your stylesheet'"
Hi, this doesn't break anything but I faced a lot of these warnings in my console. Do you know how to fix it?

Here's an example....
[code]

![image](https://user-images.githubusercontent.com/86725803/136221316-b1faef56-e0a0-4e8c-8370-f2cd8c2d1008.png)

[2021-10-06 17:32] NirmalSilwal opened #155 "request: please make detailed tutorial to make modify LoaderLogo.js file for Splash Animation"
Hi  @ashutosh1919 I checked your [video in YouTube to design logo and add animation](https://youtu.be/SVxuydoSFwk) but I find it harder to implement in **LoaderLogo.js file** under **\src\components\Loader\LoaderLogo.js** location of the project to add the animated splash logo in the starting of loading the website.

Please make one tutorial to change that **LoaderLogo.js** file specifically. Or m

[2021-10-06 19:25] NirmalSilwal commented on #21
Hello @dhruvkrishnavaid can you also look after this issue?

[2021-10-06 19:52] NirmalSilwal commented on #111
I have similar issue as @Seifo-Ibrahim. Can someone help me resolve it? I have added images in **/src/assets/images/** folder. Is there any other location I need to add the images to render in the **Education and Certificate section**?

Tagging @dhruvkrishnavaid @ashutosh1919 @danielmarostica
Please take a look at this issue.

### Attaching screenshot of my issue -

![Capture](https://user-images.

[2021-10-07 08:15] NirmalSilwal commented on #111
Also the profile image is not displayed in **Contact page.** Can someone suggest the potential solution?

[2021-10-07 09:04] dhruvkrishnavaid commented on #111
@NirmalSilwal Please comment if the issue is fixed.

[2021-10-07 09:07] NirmalSilwal commented on #111
@dhruvkrishnavaid it is now fixed for Education, certificates and contact section. Now the logo are not displayed in the Experience section. Trying to fix that and will update you.

[2021-10-07 09:11] NirmalSilwal commented on #21
Thank, looking forward to the solution.

[2021-10-08 02:49] #21 closed

[2021-10-08 05:43] dhruvkrishnavaid commented on #139
Done!

[2021-10-08 16:19] NirmalSilwal opened #159 "All the Organization are not displayed where I contributed in Open Source section"
Hello @dhruvkrishnavaid @ashutosh1919

In my masterportfolio, in **Open Source** section, all the organization are not displayed where I contributed but I can see the activity (PR or issue) in the list.

Why might have that happened? It is only displaying few org but I have contributed to other org also. So I was wondering if that org list is filtered by particular time frame of contribution or an

[2021-10-09 10:49] NirmalSilwal opened #160 "Font of header is displaying differently- Agustina font not rendered in header"
Hello @ashutosh1919, in my portfolio the font of header is displaying differently, as I have not changed any other setting for fonts in any file.

For your reference -
## currently displaying in my portfolio

![Capture](https://user-images.githubusercontent.com/31946761/136654832-5d32b269-0a52-4620-84c5-8eba7ebdb562.PNG)

## Expected font

![capture2](https://user-images.githubusercontent.com/3194

[2021-10-09 12:22] ashutosh1919 commented on #160
@NirmalSilwal , [Here](https://github.com/ashutosh1919/masterPortfolio/tree/master/src/assests/fonts) it is. Please close the issue if it is resolved.

[2021-10-09 14:39] NirmalSilwal commented on #160
**update** - I found the location (```src/components/header/header.css```) and found that it is currently Agustina font but it is looking just bit different with my name. I tested putting your name in logo header and it was same, just for different name combination that was looking different than what I was expecting. 😃

[2021-10-09 14:39] #160 closed

[2021-10-09 14:41] NirmalSilwal commented on #160
@dhruvkrishnavaid you're right, -> ```Since the text is different, this might be the letters that the font developer created.```

[2021-10-14 01:20] #139 closed

[2021-10-14 15:06] dhruvkrishnavaid opened #162 "Add Hacktoberfest label"
@ashutosh1919 It would be great if you add Hacktoberfest label to this repository.

More details here: https://hacktoberfest.digitalocean.com/

I'm sure this would attract the attention of more developers. 😃

[2021-10-14 15:55] #162 closed, assigned to nobody

[2021-10-18 02:26] KasRoudra opened #163 "Page 'open source' keeps zooming which cann't be zoomed out"
After `npm install` and `npm start` the "open source" page of website keeps zooming automatically resulting into this(Both brave and chrome browser in android):
![Screenshot_2021-10-18-08-20-13](https://user-images.githubusercontent.com/78908440/137659669-edcfda25-e180-443e-8d20-4fa8a0efa28f.jpeg)
![Screenshot_2021-10-18-08-20-02](https://user-images.githubusercontent.com/78908440/137659671-a0e126

[2021-11-03 09:33] rajeshsaini2115 opened #165 "request"
please provide your https://www.figma.com logo code

[2021-11-03 12:18] ashutosh1919 commented on #165
@rajeshsaini2115 , you can use [prettier-logo](https://github.com/prettier/prettier-logo). I used the same one. Closing this issue. If you think it is not useful, feel free to reopen it.

[2021-11-03 12:18] #165 closed

[2021-11-03 20:05] mrkpbots commented on #165
i created logo where paste logo link

[2021-11-13 21:11] abdslam01 commented on #163
please have a look  at #167 , it may help you!

[2021-11-14 01:00] #163 closed

[2021-11-14 12:00] abdslam01 opened #168 "updating dependencies break the application"
updating dependencies break the application, is there any solutions?
thank you!

[2021-11-14 16:15] ashutosh1919 commented on #168
Upgrading/Downgrading dependencies may cause failure because of change in properties of some packages in different versions. At the moment, I don't know the solution. But feel free to raise PR if you have the solution for this.

[2021-11-14 16:15] #168 closed

[2021-11-28 07:04] Saurabh-212800 commented on #21
@ashutosh1919 @dhruvkrishnavaid I am also getting this error please tell me how I can solve This error. I am doing all the steps but node git_data_fetcher.js is throwing error like this ....
![IMG20211128121154](https://user-images.githubusercontent.com/73703031/143733012-ccb9365f-7004-467b-9539-60be32067096.jpg)
Please let me know the solution ..

[2021-11-29 03:08] dhruvkrishnavaid commented on #21
You need to run `node git_data_fetcher.mjs` in the console.

[2021-11-29 06:30] Walf-dev commented on #121
I resolved it by adding expanded ={true} to the Panel tag  `<Panel expanded={true}></Panel>`

[2021-11-29 13:14] ashutosh1919 commented on #121
Closing this since reply by @Walf-dev resolves the issue.

[2021-11-29 13:14] #121 closed

[2021-12-06 12:30] Erik-Avakian commented on #152
Hi, i have the same issue. i have python 2 and python 3.10 installed.
i have used python for a long time so it can't be python that is the problem

[2021-12-06 12:32] Erik-Avakian commented on #152
i have used python for a long time so it can't be python that is the problem

[2021-12-06 14:09] ashutosh1919 commented on #152
@Erik-Avakian , In the error screenshot, it explicitly says that "Python not found in PATH". You may have Python but it may not be in PATH.

[2021-12-06 16:40] Erik-Avakian commented on #152
@ashutosh1919 aah ok, I will try to fix that then. thank u!

[2021-12-06 17:17] Erik-Avakian opened #171 "Node GYP error while having python 2 and 3 in my path -- This happens when doing npm install"
i have had this error the entire day. i have freshly installed node.js and python 2.7
i have added it to my path.
i am new to node.js so i don't really know what to look for when getting this sort of error, please help

[code]
![brave_JJQxlDZiMs](https://user-images.githubusercontent.com/90850836/144891381-47d7d513-0999-4227-a18d-02e9eb14797b.png)

[2021-12-07 23:18] Erik-Avakian commented on #171
UPDATE:

I still have this error but i seem to get a slightly different output now on the error messages. i am not 100% sure

[code]

[2021-12-07 23:25] Erik-Avakian commented on #152
@ashutosh1919  Thank u! that seems to have fixed that error for me. however, i still get other errors :(
i have opened up my own ticket where it shows my current error messages.
please check it out when you have time :) <33

[2021-12-08 10:40] Saurabh-212800 commented on #21
I had done all the required Changes but I am getting this error after pushing code to GitHub. @ashutosh1919 @dhruvkrishnavaid ....
![Screenshot_2021-12-08-16-08-00-42_e307a3f9df9f380ebaf106e1dc980bb6](https://user-images.githubusercontent.com/73703031/145194396-7dd3704c-b547-46d1-9666-d2fb8426946d.jpg)

[2021-12-08 13:56] ashutosh1919 commented on #21
@Saurabh-212800 you need to remove `CNAME` file from the project because it points to my domain name. You also need to configure gh-pages. You can take a look at the video mentioned in the project README.

[2021-12-08 13:59] Saurabh-212800 commented on #21
@ashutosh1919  can you please share that video link here .

[2021-12-08 14:04] ashutosh1919 commented on #21
@Saurabh-212800 , https://www.youtube.com/watch?v=IwBS39TOmpA&t=557s

[2021-12-13 06:30] Mayheptad commented on #171
@Erik-Avakian I had the same issue. after many hours of searching the internet,  StackOverflow, github topics, etc, no solutions. so decided to pay a closer look at the error and study the package.json very well.

SO it turns out that nodeJs v16 does not support node-sass v 4x, so the solution that worked for me is upgrading node-sass to at least v6.0 that was supported by the nodeJs v16 which I h

[2021-12-13 14:47] Erik-Avakian commented on #171
Hi, Thank you so much for the help. that fixed my issue.
i am completely new to web stuff. i have only learned python so far so these npm errors didnt really make alot of sense to me at first.

now i get this Status message in the terminal after the "npm install" is finished.. is it something i should be worried about or can i just carry on customizing the template? Thanks again for the help!

[2021-12-16 02:22] ashutosh1919 commented on #171
@Erik-Avakian , you don't have to worry about warnings. Closing this issue. @Mayheptad , Thanks for comment.

[2021-12-16 02:22] #171 closed

[2021-12-16 02:22] ashutosh1919 commented on #152
Resolved as part of #171

[2021-12-16 02:22] #152 closed

[2021-12-17 05:25] dhruvkrishnavaid commented on #159
@NirmalSilwal After some digging through the Github's GraphQL docs, I've found that Github allows fetching of only last 100 records on the `repositoriesContributedTo`. So, sadly, there's nothing we can do about it. You'd need to manually write them to `shared/opensource/organizations.json`.

I suggest you to create a separate file, and write the json there, so every time you run `node git_data_fet

[2021-12-17 05:27] NirmalSilwal commented on #159
okay, will do so :)
Thanks for the update.

[2021-12-17 14:42] ashutosh1919 commented on #159
@NirmalSilwal , @dhruvkrishnavaid I digged into this issue when the same problem occurred to me but unfortunately I did not get enough time to implement it. The way we can solve this problem is to fetch the latest entries only and then append over existing entries which are not currently present in our local `json` file. The primary key will be the `id` returned by the api. If anybody creates such

[2021-12-19 14:58] ahsansiddz1 commented on #171
I have installed npm but its not starting
Also node.js is installed and added to path.
I don't why I am getting error while opening npm
I have attached screenshot and errors that I am facing..
User Variables Path:
 ![UserVariablePath](https://user-images.githubusercontent.com/79744131/146679106-eeafa956-4206-479a-93b1-e44c9dad5170.JPG)

System Variable Path:
![SystemVariablePath](https://user-imag

[2021-12-19 16:51] ahsansiddz1 commented on #171
Finally  error resolved  with these commands:

react-scripts build

npm cache clean --force

npm i

[2021-12-20 11:27] Jyoti-prakash-rout opened #173 "Unable to use this project!"
Whenever I'm trying to run npm install it's showing some error. what should I do?

[2021-12-20 12:04] ashutosh1919 commented on #173
@Jyoti-prakash-rout , please take a look at #171 and follow the steps used in that. It should help.

[2021-12-20 12:24] Jyoti-prakash-rout commented on #173
@ashutosh1919  Thank you so much for the help. Issue Solved :-)

[2021-12-21 14:58] #173 closed

[2022-01-25 13:35] mayureshagashe2105 commented on #21
#156 doesn't seem to fix #21. Getting the same error.
![2022-01-25 (2)](https://user-images.githubusercontent.com/75118658/150986645-b2609cdc-a962-48e0-8393-03ac58ecadca.png)

[2022-01-25 13:36] mayureshagashe2105 commented on #21
@ashutosh1919 @dhruvkrishnavaid please look into it.
Thank you!

[2022-01-26 02:39] dhruvkrishnavaid commented on #21
@mayureshagashe2105 You seem to use environment variables but you have not configured it properly.

Please configure the `dotenv` package. 🙂

[2022-01-26 09:57] mayureshagashe2105 commented on #21
Thank you! Configured it correctly, now, it's working

[2022-01-26 14:25] ashutosh1919 commented on #21
@all-contributors add @dhruvkrishnavaid for question .

Thank you so much @dhruvkrishnavaid for answering questions.

[2022-02-06 18:05] Jyoti-prakash-rout opened #181 "How to solve the [ 21. stack frames were collapsed ] in my portflio on contact section?"

[2022-02-06 21:05] ashutosh1919 commented on #181
@Jyoti-prakash-rout please attach screenshot/full error message of the error.

[2022-02-07 03:53] Jyoti-prakash-rout commented on #181
@ashutosh1919
![Desktop screenshot](https://user-images.githubusercontent.com/85782825/152721939-9639310a-4a42-455d-be5c-7e264dd12a2e.png)

[2022-02-07 06:02] Jyoti-prakash-rout commented on #181
@ashutosh1919
one more thing...I want to remove the data science and AI part of the portfolio.. how do I do that?

[2022-02-07 07:45] aakash1998 opened #182 "Difference in box size."
On the project page, the box size of the last project is different from the other box sizes of other projects.

[2022-02-07 14:36] ashutosh1919 commented on #181
@Jyoti-prakash-rout I don't think this is an error with the project. Did you change any file?

[2022-02-07 14:37] ashutosh1919 commented on #182
@aakash1998 this issue was created in past and it is because the description size of the project is different for a different project and we don't want to hardcode the height value. Closing it as of now. If you find more optimal solution to this problem, then please raise PR.

[2022-02-07 14:37] #182 closed

[2022-02-09 04:17] Jyoti-prakash-rout commented on #181
@ashutosh1919 Nope, I changed or delete files as you instructed in your videos and please tell me how do I remove the data science and ai section of the portfolio? because I'm not into data science and ai and I don't want to show data science and ai in my portfolio.

[2022-02-20 04:02] Jyoti-prakash-rout commented on #181
@ashutosh1919 ???

[2022-03-04 10:20] Rodrigo-Palma opened #184 "I got error when execute git_data_fecher.mjs"
$ node git_data_fetcher.mjs
/home/legion/rodrigo-palma/rodrigo-palma.github.io/git_data_fetcher.mjs:1
import fetch from 'node-fetch';
       ^^^^^

SyntaxError: Unexpected identifier
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loader.js:653:32)
    at tryModuleLo

[2022-03-06 10:03] KasRoudra commented on #184
@Rodrigo-Palma Did you run a `npm install` before executing that? You need to run that first

[2022-03-06 11:44] Rodrigo-Palma commented on #184
Yes, I do, maybe docker solve my case, I realize that npm install doesn't had install node-fetch and fs. I had try in ubuntu, windows, VMs with different versions of node and npm. Maybe package.json need update.

[2022-03-27 20:55] MendezMadrigal commented on #184
Hello, were you able to solve this problem?

[2022-04-01 14:02] Krishpanchal opened #185 "Lots of warnings as errors when installing"
There are lots of warnings and errors while running the command `npm install`

![image](https://user-images.githubusercontent.com/63506149/161278948-eaa2f807-76c6-4e7d-8c9c-957176a40fa9.png)

![image](https://user-images.githubusercontent.com/63506149/161279039-e42d0c9a-cfad-486a-96f3-ef7b2c7f97ad.png)

[2022-04-17 18:00] anurag9034 commented on #185
updating the version of "node-sass" to "6.0.1" fixed the issue for me!

[2022-04-17 18:11] Krishpanchal commented on #185
Thankyou so much brother,
Worked for me too

[2022-04-18 01:34] #185 closed

[2022-04-26 07:10] Aniketkushwaha80 opened #186 "how to start the server"

[2022-04-26 13:20] ashutosh1919 commented on #186
`npm install & npm start`

[2022-04-26 13:20] #186 closed

[2022-04-30 00:52] Itz-Hyperz opened #187 "please update package.json"
Please upgrade the `package.json`.

I'd like to see `node-sass` pushed to `6.0` so people on NodeJS 16 can use this properly. I know I can change it myself, however it's just a small thing.

[2022-04-30 22:02] Guohao91 opened #188 "A quick question about depolying"
Hi, @ashutosh1919
i am quite newbie to the node.js and deploying operations, would you please give a expalnation or a help get me through the deploying stage?
So I just don't understand the below operation here:
"Enter the build folder, git init and push the generated code to the master branch of your new repository on github. That's it. It's Done."??
I've setup and opened the project locally, and

[2022-05-01 00:44] #188 closed

[2022-05-01 01:49] Guohao91 opened #189 "git push origin master doesan't work well"
Hi, Mr. @ashutosh1919

I like your Portfolio design so much! Can you just help me to fix the last small issue?
I just watched your video, pretty detailed. I did every step one by one. However when i moved to the last step:
![1](https://user-images.githubusercontent.com/54188732/166128628-0303a10f-bc78-4955-9751-7dcdc10e390f.png)
So i don't really got this error, i tried many times, and only one pr

[2022-05-09 11:43] SrinathAkkem opened #190 "Github Repositories to projects page"
I'm unable get my github repositories in projects page and also i had got stuct at publications too. Can anyone please help me in sorting this?

[2022-05-10 05:44] #190 closed

[2022-05-10 21:06] #189 closed

[2022-05-10 21:29] Guohao91 opened #191 "Switch pics on the each page?"
Hi, Just wonder if it is possible to switch the pics on the left side with my own pics?
If I can do that, in which script file I should update the location info?
![Screenshot from 2022-05-10 14-26-30](https://user-images.githubusercontent.com/54188732/167724673-b9588644-39a4-4782-b488-fe4deb9f61f0.png)

Thanks a lot in advance for any hint!

[2022-05-10 21:37] ashutosh1919 commented on #191
@Guohao91 you need to create React component [here](https://github.com/ashutosh1919/masterPortfolio/tree/master/src/containers/skills) with the image that you would like to render. Also, you need to change the `skills.filename` attribute in `src/portfolio.js` file which will pick the image component that you created instead of default one.

[2022-05-10 21:37] #191 closed

[2022-05-10 22:10] Guohao91 commented on #191
hi， @ashutosh1919
Thanks for reply!
I've been awared of these component files in there, and I know I'll need to update thefilename attributes under skills data[ ].
However I just don't know how to locate the pics I saved?
For example, in /src/containers /skills/DesignImg.js, I just found the <svg
        id="1c51936f-ad83-4493-a1e8-5a7ca1846cda"...> is specific for each assigned picture,
so I need

[2022-05-10 22:18] ashutosh1919 commented on #191
You need to wrap the image in a react component. That's it. It is up to you how you want to implement it.

[2022-05-10 22:26] Guohao91 commented on #191
@ashutosh1919
Oh oh! Let me find how to wrap a image into a react componenet.
Thank you!

[2022-05-11 15:23] ashutosh1919 commented on #191
@Guohao91 The app is React App and not React Native app. Why are you using `react-native`? You need to either use react compatible package or implement your own styles.

[2022-05-11 19:30] Guohao91 commented on #191
Hi, Mr. @ashutosh1919
I didn't mean have to use react-native...Let me try this:
how can i get this id attribute for my own local pic?
![image](https://user-images.githubusercontent.com/54188732/167929834-60ee1518-01b6-498b-bd66-a401f360a432.png)

And I actually would prefer to reference to your architecture to load up my local pic. That's it.
But just like I am not familiar with React, that's my p

[2022-05-21 09:26] saiteja13427 opened #193 "Design Improvements"
Proposal for design improvement of experience page especially the **accordions**.

### Reason for change
This component looks odd and doesn't sync with the complete design.

### How can we improve?
1. We can make the corners rounded.
2. Change the color to sync in the theme
3. And few other miscellaneous styling changes if required.

**I would like to take it up if you guys also think that this is

[2022-05-21 13:35] ashutosh1919 commented on #193
@saiteja13427 Sure please go ahead and raise PR.

[2022-05-21 15:14] saiteja13427 opened #195 "Adding Check For Image and Visit Website Button on Education Page"
We should have checks for the presence of institute logo image and website URL.

### Reason
Many of the schools and secondary colleges might not have logos online and websites as well.

### What to change
**For Logo**
1. We can add a check in the code for the logo and if the logo exists, only then we show it, else we just skip it. Currently if there is no logo, it just crashes

**For Visit Website

[2022-05-21 15:18] ashutosh1919 commented on #195
@saiteja13427 yes I agree. We initially planned doing it but never got to it. Please feel free to raise PR. Meanwhile, Assigning to you

[2022-05-21 15:42] saiteja13427 commented on #193
Done with this issue! So closing it!

[2022-05-21 15:42] #193 closed

[2022-05-21 17:16] saiteja13427 commented on #159
Would like to take this up @ashutosh1919, please do assign this to me!

[2022-05-22 12:59] saiteja13427 commented on #195
Raised a PR #197

[2022-05-22 17:22] saiteja13427 commented on #140
We can implement this without hard-coding the height using flex. Implemented this on my portfolio. Will raise a PR. Do assign this as well to me @ashutosh1919

[2022-05-23 03:29] saiteja13427 commented on #140
Raised a PR #198

[2022-05-24 03:19] saiteja13427 commented on #159
@ashutosh1919 I am almost done writing this script.

What should we do when someone runs it for the first time? Because for the first time, the files will have your data and we shouldn't append to it right. So, shall we have a hardcoded check for the first id and if it matches your datas' first id, then we delete everything otherwise append.

Does that sound good?

[2022-05-26 03:35] ashutosh1919 commented on #159
@saiteja13427 yes please go ahead.

[2022-05-27 03:32] saiteja13427 commented on #159
Raised a PR #199

[2022-05-27 03:40] saiteja13427 opened #200 "Adding New Sections"
The issue for ideating and adding new sections.

### New Sections
1. Video
2. Podcast
3. Tweets
4. Achievements

Let us discuss these sections and start adding these sections to make it even better!

Please do suggest any new sections which we can add as well here!

[2022-05-28 18:32] ashutosh1919 commented on #200
@saiteja13427 we thought about it initially. But we thought that it would be too much information and can affect performance issues. Also, this information is valid for a very short duration. Also, it defies the  purpose of portfolio being source of information about one.

[2022-05-29 02:29] saiteja13427 commented on #200
That makes sense, but what about adding achievements at least? Achievements section in a portfolio would be good right @ashutosh1919

[2022-05-29 02:37] ashutosh1919 commented on #200
@saiteja13427 Rather than having separate page on achievements, we should add it under experience accordian.

[2022-05-29 03:45] saiteja13427 commented on #200
Yeah, I was thinking along the same lines,

So, shall I go ahead and add it there? @ashutosh1919

[2022-05-29 03:46] ashutosh1919 commented on #200
Sure.

[2022-05-31 04:45] saiteja13427 commented on #200
Alright, will raise a PR this week for this!

[2022-05-31 08:01] saiteja13427 commented on #200
Would something like this look good @ashutosh1919

I have created a achievements component similar to experience accordions.

![image](https://user-images.githubusercontent.com/40917760/171123245-4baaca60-c656-4fd9-a399-c2d01cfbe4fe.png)

[2022-06-06 08:07] saiteja13427 commented on #195
This is done

[2022-06-06 08:07] #195 closed

[2022-06-06 08:30] #134 closed

[2022-06-06 09:49] saiteja13427 commented on #184
This issue is mostly due to older nodejs on your system

[2022-06-06 09:53] saiteja13427 commented on #181
@Jyoti-prakash-rout The error is because you have removed some images or gave a wrong image name in the portfolio file.

To remove the data science and ai section, you can just remove the corresponding section in the portfolio.js file under skills/data

[2022-06-06 09:53] saiteja13427 commented on #140
This is solved

[2022-06-06 09:53] #140 closed

[2022-06-06 09:55] saiteja13427 commented on #13
This is now fixed by PR #198

[2022-06-06 09:55] #13 closed

[2022-06-06 18:58] #184 closed

[2022-06-07 10:23] saiteja13427 commented on #32
@danielmarostica I think we can discuss on this further because the addition should be a general addition and useful to everyone.

Where do you want to add the submenus and which pages will it link to?

[2022-06-07 14:39] saiteja13427 commented on #79
@Tasin5541 do feel free to raise a PR if you still want to contribute the mentioned feature.

Feel free to raise an issue if you want to discuss about it.

Closing this issue because of no activity.

[2022-06-07 14:43] saiteja13427 commented on #78
I think you can follow this tutorial for deploying the application on cpanel: https://ridbay.medium.com/simple-steps-on-how-to-deploy-or-host-your-reactjs-app-in-cpanel-31cfbcad444e

Closing this issue due to inactivity.

[2022-06-07 14:43] #78 closed

[2022-06-07 14:46] saiteja13427 commented on #111
I think this issue is now resolved, thus closing it.

[2022-06-07 14:49] saiteja13427 commented on #68
The development of this issue was not completed.

So, this issue is now open for anyone to take up. Please do comment here if you want to work on it and I would assign it to you.

[2022-06-07 18:59] ashutosh1919 commented on #32
@danielmarostica I think the portfolio template already contains huge set of details. But I can relate this to long term plan.

We can first focus on linking submenu to already built stuff. For example, education may have submenu with Universities and Certifications. On clicking Certifications, it will switch to another tab (Education) and will scroll down to Certifications.

Later, we can expose

[2022-06-08 07:01] #187 closed

[2022-06-08 07:04] saiteja13427 commented on #89
The achievement section is now being added to the experience page.

This will be handled by issue #200

Thus, closing this issue.

[2022-06-08 07:04] #89 closed

[2022-06-08 07:07] saiteja13427 commented on #181
Closing this issue due to inactivity!

[2022-06-08 07:08] #181 closed

[2022-06-08 07:12] saiteja13427 commented on #123
I assume this issue is now solved.

Thus closing this issue!

[2022-06-08 07:12] #123 closed

[2022-06-08 07:16] saiteja13427 commented on #122
@gabrieloliveirasobrinho Follow these steps

1. Just copy the contact folder content under src/pages.
2. Make a new folder.
3. Paste the copied contents into this new folder.
4. Create a new route and navlink as mentioned by sahilg50.
5. And you will be good to go.

Please raise a new issue if you still have a problem.

Closing this for now, due to inactivity.

[2022-06-08 07:16] #122 closed

[2022-06-08 07:22] saiteja13427 commented on #107
@dhruvkrishnavaid answer solves this issue.

I have noted down this point and we will discuss and work on adding an object to the portfolio.js file wherein we can have various components and giving false to a component will remove the component from the website.

This will probably add to the customizability.

Closing this issue for now.

@Param-29 feel free to raise an issue in case you still hav

[2022-06-08 07:22] #107 closed

[2022-06-08 07:27] saiteja13427 commented on #87
I assume that this problem is now solved.

Thus closing it!

[2022-06-08 07:27] #87 closed

[2022-06-08 13:23] #80 closed

[2022-06-08 15:42] Jyoti-prakash-rout commented on #181
@saiteja13427 Thanks for the reply..one more thing how do I remove the publication section?

[2022-06-08 15:56] saiteja13427 commented on #181
Go to /src/pages/projects

And comment out lines 63-82

@Jyoti-prakash-rout

[2022-06-09 07:39] saiteja13427 commented on #32
Yes, that makes sense.

So, now this issue is open for anyone to take it up.

Feel free to comment here if you want to take it up.

[2022-06-09 16:00] ashutosh1919 commented on #154
@saiteja13427 can you please confirm if these warnings are still there when running `npm i && npm start`

[2022-06-09 16:05] saiteja13427 commented on #154
@ashutosh1919 I already checked it. I checked on both Firefox and Chrome on my system and did not see this error.

[2022-06-09 16:24] ashutosh1919 commented on #154
@catherinewongg closing on the basis of @saiteja13427's comment. Please feel free to reopen if the error still persists.

[2022-06-09 16:24] #154 closed

[2022-06-11 10:24] saiteja13427 commented on #58
Now this task is open to anyone.

Please comment here if you want to take it up and I will assign it to you!

[2022-06-12 05:41] aman08-cool opened #215 "LOGO of educationl institute"
hello sir,
why the error is shown i try to change the instituion logo in education section
any idea ?
portfolio.js & DegreeCard.js are related other than any one ?
please tell me

[2022-06-12 16:01] ashutosh1919 commented on #215
@aman08-cool Please attach the screenshot of the error.

cc: @saiteja13427

[2022-06-12 16:12] saiteja13427 commented on #215
@aman08-cool please post a screenshot of the error and also the respective change in portfolio.js.

[2022-06-12 18:06] saiteja13427 commented on #124
Reviewed and merged the respective PR!

Thanks, @vanoop729

The issue is now solved.

Thus closing this issue!

[2022-06-12 18:06] #124 closed

[2022-06-13 11:20] saiteja13427 commented on #215
Not a problem @aman08-cool,

Feel free to raise an issue anytime!

[2022-06-18 17:51] saiteja13427 commented on #67
I think a new memories page doesn't align with the goals of this project.

Thus closing this issue and the corresponding PR.

@Tanya-Goel if you still think we should add this, feel free to raise a new issue and we can discuss it further.

[2022-06-18 17:51] #67 closed

[2022-06-20 04:38] dhruvkrishnavaid commented on #74
This issue is obsolete and can be safely closed.
It was already fixed [here](https://github.com/ashutosh1919/masterPortfolio/blob/848d92437a13d39f64649324e1015eb788bb2410/src/components/degreeCard/DegreeCard.js#L17).

[2022-06-20 05:22] #74 closed

[2022-06-22 12:46] dhruvkrishnavaid commented on #33
Iconify now has [scikit-learn icon](https://icon-sets.iconify.design/simple-icons/scikitlearn/).
#219 updates Iconify to the latest version as of now, hence you can now include it in your portfolio.

[2022-06-25 05:03] saiteja13427 opened #220 "Add .env to the Project For Github Token"
Add a .env to the project and add `GITHUB_TOKEN` and `GITHUB_USERNAME` variables in it.

Then use these environment variables in `git_data_fetcher.mjs`

Also add .env to .gitignore

### Reason For Update
Many users have mentioned that by having a .env they can push the whole project as it is onto GitHub otherwise they have to remove the token and add the token repeatedly. Thus raising this issue.

[2022-06-25 05:04] saiteja13427 commented on #81
Closing this issue. The problem will be now handled in #220

[2022-06-25 05:04] #81 closed

[2022-06-29 17:17] Harrybradrocco opened #224 "Might Be missing something but need opinion"
Hi
so I followed all your steps and changed the Portfolio,js with my personal information , I have hard time making the changes appear on the deployed website on gh-pages.
I tried everything and seems not to be working . Am i suppose to be updating any other information beside Portfolio.js

[2022-07-02 13:21] KasRoudra commented on #224
@Harrybradrocco Maybe you' haven't configured gh-pages as deploy branch. Check [here](https://github.com/Harrybradrocco/portfolio/settings/pages) if `source` is `gh-pages` branch

[2022-07-02 17:53] Harrybradrocco commented on #224
No it is deployed on gh-pages . I tried switching it back and forth from main branch to gh-pages but it doesn't help

[2022-07-03 06:25] saiteja13427 commented on #224
I have also faced a few issues with this method in the past @Harrybradrocco. You can probably try option 1 from the README under deployment.

[2022-07-05 11:45] febincherianjohn opened #225 "MODULE_NOT_FOUND in git_data_fetcher.js"
![image](https://user-images.githubusercontent.com/108618086/177319663-23a3037f-57c4-41c6-8eb9-e486b9dd1b10.png)
can someone tell me how to solve this issue...i generated a token and pasted it with my username in git_data_fetcher.js,deleted the opensource files and gave the command node git_data_fetcher.js and this is showing...since I'm a mech engineer,I'm not the best with codes...kindly help me

[2022-07-05 11:47] febincherianjohn commented on #225
@a-mishra @danielmarostica @dineshnadimpalli

[2022-07-06 01:04] ashutosh1919 commented on #225
It is `git_data_fetcher.mjs`. Closing issue. Please reopen if not resolved.

[2022-07-06 01:04] #225 closed

[2022-07-06 12:17] febincherianjohn opened #226 "MODULE_NOT_FOUND in node git_data_fetcher.mjs"
![image](https://user-images.githubusercontent.com/108618086/177547993-528d7e00-fea1-48c1-b3c4-8a95f4a6cd97.png)
i changed file to git_data_fetcher.mjs as you said but still its showing the same error...kindly help

[2022-07-06 12:18] febincherianjohn opened #227 "OPENSOURCE"
Can someone please tell me in which all files and what changes i need to make to remove opensource page

[2022-07-06 16:51] febincherianjohn opened #228 "experience page color"
![image](https://user-images.githubusercontent.com/108618086/177602420-4fb4b6c3-61f3-4b7d-afbe-ac77d80a3b9f.png)
![image](https://user-images.githubusercontent.com/108618086/177602531-98d26379-fdcf-4ecd-bcf6-54a74a3f17b5.png)
hey how to make the work internship volunteership white like it is in the second image

kindly help if possible.......thankyou very much

[2022-07-07 02:29] ashutosh1919 commented on #228
change background color.

cc @saiteja13427

[2022-07-07 02:29] ashutosh1919 commented on #227
@saiteja13427 please help him

[2022-07-07 03:34] saiteja13427 commented on #227
@febincherianjohn follow the steps
1. Navigate to src/components/header/Header.js
2. Comment out lines 87 to 98
The opensource page will be removed from the navbar and that will be good enough i guess

[2022-07-07 03:42] saiteja13427 commented on #228
@febincherianjohn Follow these steps
1. Navigate to src/containers/experienceAccordion/ExperienceAccordion.js
2. At line 21, replace `${theme.white}` with "#fff"
3. This will do the job.

Let me know if you face any issue!

[2022-07-07 03:46] saiteja13427 commented on #226
Do check if the file name is correct. The file name is already `git_data_fetcher.mjs` what did you change?

[2022-07-07 05:23] #227 closed

[2022-07-07 05:23] febincherianjohn commented on #227
it worked ..thankyou very much

[2022-07-07 05:26] #228 closed

[2022-07-07 05:52] febincherianjohn commented on #226
i had earlier converted the file to .js and tried to node it...so ashuthosh told me to keep the file name as .mjs

[2022-07-07 05:54] febincherianjohn commented on #226
solved

[2022-07-07 06:02] febincherianjohn commented on #226
./src/pages/projects/Projects.js
Module not found: Can't resolve '../../shared/opensource/publications.json' in 'C:\masterPortfolio-master\src\pages\projects'

pls help me solve this also

[2022-07-07 06:10] saiteja13427 commented on #226
Did you delete the publications.json file?

[2022-07-07 06:11] febincherianjohn commented on #226
yes I did

[2022-07-07 06:13] saiteja13427 commented on #226
Navigate to src/pages/projects/Projects.js

Comment line number 11 and 61-88

[2022-07-07 06:21] febincherianjohn commented on #226
thanx & done

[2022-07-07 06:21] #226 closed

[2022-07-07 06:22] saiteja13427 commented on #226
Awesome

[2022-07-09 08:13] saiteja13427 commented on #224
Closing this issue due to inactivity!

[2022-07-09 08:13] #224 closed

[2022-07-28 11:23] darkamgel opened #232 "Github Project not showing in Project"
i have checked the code in GithubCardRepo.js some portion of the code are commented so i have uncommented that but now i am having these issues :
JSX elements cannot have multiple attributes with the same name.

[2022-07-28 11:59] darkamgel opened #233 "Github Project not showing"
I have followed all the tutorial from readme.md. but though adding token and github username i am not getting those project .

[2022-07-28 12:36] saiteja13427 commented on #233
Did you run `node git_data_fetcher.mjs`?

[2022-07-28 12:37] darkamgel commented on #233
yes i have

[2022-07-28 12:38] saiteja13427 commented on #233
Do you have pinned projects?

[2022-07-28 12:40] darkamgel commented on #233
nope i think the problem is in that Githubrepocard.js . other working fine expect for that

[2022-07-31 14:17] saiteja13427 commented on #233
I don't think so, because for me its working. The commented code doesn't have to do anything there. There is some other issue.

[2022-07-31 14:18] saiteja13427 commented on #232
Discussing this issue in #233.

Thus, closing this issue.

[2022-07-31 14:18] #232 closed

[2022-08-07 15:40] Mehta-Parth opened #235 "Changing/Adding SVG files and size, orientation of the SVG Images"
Dear community,

I am trying to make my website, for which I want to change the homepage 'feeling proud' SVG. Can someone please help me with arranging the size of the elements on the webpage and customising SVG images.

Thank you,
Parth

[2022-08-07 15:49] #235 closed

[2022-08-09 05:23] Mehta-Parth opened #236 "How to enter URL for publications"
Dear Community,

I am unable to find place where I can add URL for my Publications. Pls help.

Regards,
Parth

[2022-08-10 22:00] ashutosh1919 commented on #236
@saiteja13427 can you please help @Mehta-Parth?

[2022-08-11 04:16] saiteja13427 commented on #236
@Mehta-Parth you can just go to `src/shared/opensource/publications.json` and in each data block, you can add a url key, value pair like `url: <your publication url>`.

That should make the title of the publication clickable and will redirect to the url you gave.

Let me know if you face any trouble!

[2022-08-11 04:18] saiteja13427 commented on #233
Hope that this is solved.

Closing this due to inactivity.

Feel free to open another issue if you are still facing the problem.

[2022-08-11 04:18] #233 closed

[2022-08-13 08:42] saiteja13427 commented on #236
Did that work @Mehta-Parth

[2022-08-19 17:16] rajesh1421 commented on #72
The solution given by @th3c0d3br34ker also worked for me. I removed the **Experience,Projects and OpenSource section** this way by removing that piece of code from header.js.

[2022-08-19 17:46] rajesh1421 opened #238 "Remove Blog Section"
C:\Users\masterPortfolio\src\portfolio.js and C:\Users\masterPortfolio\src\pages\contact\BlogsImg.js  in this path I remove blog section use {/* ... */} or Erase code.
Page shows some errors
The Error Is :
×
Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your component from the

[2022-08-19 23:16] ashutosh1919 commented on #238
@rajesh1421 I saw your comment in another issue. I think the issue is resolved. Please reopen if you think it's not fixed yet.

[2022-08-19 23:16] #238 closed

[2022-08-31 10:08] saiteja13427 commented on #236
I hope that worked @Mehta-Parth

@ashutosh1919 I think we need some refactoring on the publications.

Shall we move publications from shared/publications.json to portfolio.js only?

[2022-08-31 10:15] shuence opened #241 "I'm unable to find preloder class"
Dear Community,

I'm unable to find the preloder code to change according to my preference.
Anybody can help?

Regards,
Shuence.

[2022-08-31 10:30] #241 closed

[2022-08-31 16:19] ashutosh1919 commented on #236
@saiteja13427 Yes we can do that. Anyways, most of the people using our template may not have many publications

[2022-09-15 03:27] hilldba opened #243 "No portfolio"
Local Host show portfolio after nom start but when I try to go to internet username.GitHub.io shows read me.md

What am I doing wrong

[2022-09-15 05:23] saiteja13427 commented on #243
Can you share the link and can you tell me the steps you followed please.

[2022-09-15 07:07] hilldba commented on #243
If you go here and install node j and react you get a local profile that works fine. But with my domain drcyber.net I just get the readme.md file not the portfolio like locally.

Tim

Sent from my iPhone

[2022-09-15 16:06] saiteja13427 commented on #236
This issue now stands closed.

@Mehta-Parth please feel free to open another issue if you still have some problem!

[2022-09-15 16:06] #236 closed

[2022-09-15 20:15] ashutosh1919 commented on #243
@hilldba If you exclude the README file from the build and only push the content of `build` when you push that to deployment. I think it should fix it.

[2022-09-15 23:46] hilldba commented on #243
I have remove the readme.md on my local reposity and with npm start my website come up fine either with the file gone or in the local but when I have it in the master branch it comes up with the readme.md home page but when I delete it I get a 404 my website is drcyber.net and is fully in cloud flare had it working this morning and started acting up this afternoon. Do you mind taking a look   Ty

[2022-09-16 14:07] hilldba commented on #243
I have fixed it.  Was a simple one. Had to add a / in package.json to activate the actually node app and npm run build thank you

[2022-09-16 15:39] #243 closed

[2022-09-17 02:26] hilldba commented on #243
All the site work when deploy but Education what could it be?

[2022-09-18 14:10] rajesh1421 opened #245 "In Search box type open source it shows the page"
Open Source remove from header but , In Search box type open source it shows the page ,

[2022-09-18 14:11] saiteja13427 commented on #245
How did you remove the open source page? @rajesh1421

[2022-09-19 08:05] rajesh1421 commented on #245
In Header.js file
          {/*<li>
                <NavLink
                  to="/opensource"
                  tag={Link}
                  activeStyle={{ fontWeight: "bold" }}
                  style={{ color: theme.text }}
                  onMouseEnter={(event) => onMouseEnter(event, theme.highlight)}
                  onMouseOut={(event) => onMouseOut(event)}

                  Open Source

[2022-09-19 14:03] rajesh1421 commented on #245
Thank sir , It's work

[2022-09-19 17:08] #245 closed

[2022-09-20 13:45] Rajesh-A1 opened #248 "./src/components/seoHeader/SeoHeader.js Error"
Failed to compile.

./src/components/seoHeader/SeoHeader.js 32:17
Module parse failed: Unexpected token (32:17)
You may need an appropriate loader to handle this file type.
|   }), /*#__PURE__*/React.createElement("meta", {
|     property: "og:title",

|     __self: this,
|     __source: {

I can't understand this error sir

[2022-09-22 08:29] saiteja13427 commented on #248
Did you make any changes to the file @rajesh1421

[2022-09-22 15:33] rajesh1421 commented on #248
No Sir , I'm sure i didn't make any changes in that file and i try copy original file from github and paste into my file but, it's not work sir

[2022-09-23 13:12] saiteja13427 opened #250 "Adding Object For Making Pages and Some Components Optional"
We got a lot of requests asking how to remove some pages, some components etc. Thus creating this issue to add an object to `portfolio.js` which will have enable/disable options for below listed things

1. All the pages except home (I mean every page should be enabled/disabled and disabling a page means removing it from the navbar and react route as well)
2. On the Home Page
   1. Star Me On GitHu

[2022-09-30 06:49] chandrakanth-gudavalli opened #252 "Search Engine Optimization Not Working??"
I have generated my github portfolio (https://chandrakanth-gudavalli.github.io/#/) using your template.

I want to make this page show up if some one type my name on google. May I know what should I do for that?

My portfolio: [https://chandrakanth-gudavalli.github.io/#/](https://chandrakanth-gudavalli.github.io/#/)

PS: This is a great repo. Thanks for maintaining this.

[2022-09-30 14:04] ashutosh1919 commented on #252
@chandrakanth-gudavalli this totally depends upon Google's ranking algorithm. Your ranking is not only dependent on the content but also on the traffic. Please feel free to ask more questions here but this issue is out of scope of this repo.

[2022-09-30 14:04] #252 closed

[2022-09-30 16:40] chandrakanth-gudavalli commented on #252
Thanks for the prompt reply.

I have seen a [pull request on SEO](https://github.com/ashutosh1919/masterPortfolio/pull/108) specifically for SEO. So, I thought I can make this happen easily.

Are there any tips that we can use to make google rank the github.io page at the top?

[2022-10-01 07:46] saiteja13427 commented on #248
@Rajesh-A1 Closing this issue due to inactivity.

Please feel free to open another issue if you are still facing this problem.

[2022-10-01 07:46] #248 closed

[2022-11-01 16:18] dev-pwa opened #255 "Rrrr"

[2022-11-01 16:26] dev-pwa opened #256 "Master portfolio 1986"
12345567

[2022-11-01 23:27] ashutosh1919 commented on #255
@dev-pwa Please don't create spam issues.

[2022-11-01 23:27] #255 closed

[2022-11-01 23:31] ashutosh1919 commented on #256
@dev-pwa is blocked from accessing any of our repositories.

I have also reported @dev-pwa to GitHub for creating SPAM issues.

@saiteja13427 Feel free to block users if they create such SPAM issues/PRs

[2022-11-01 23:31] #256 closed

[2022-11-07 15:49] saiteja13427 commented on #220
This issue is now closed with PR #244

[2022-11-07 15:49] #220 closed

[2022-11-27 11:55] pragat-pandya opened #265 "Errror in running "node git_data_fetcher.mjs""
I have set-up the .env file as shown in the readme but I 'm unable to execute above mentioned script successfully. It gives me the following error.

`node git_data_fetcher.mjs
{}
{}
{}
Error occured in pinned projects 2 {}`

[2022-11-27 12:41] #265 closed